.contact{
    
    background-color:#003D71;
    color: white;
    }

.botoncss{
    margin-left: auto;
    margin-right: auto;
}

.mensajecss{
    height: 40px;
}
.imagearea{
    height: 300px;
  }

  .separacionxx {
    background-color:#003D71;
    height: 40px;
  }