

.alliance__item__image{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  
}
.aliancetitletext{
    color: #004D8F;
    font-size: 25px;
    font-weight: bold;
    margin-top:10px;
  }