.contactarea{
    width:70%;
    height:90%;
    margin-left: auto;
    margin-right: auto;
    }
.supercontactarea{
   
    background-color:white;
    }
.botoncss{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mensajecss{
    height: 40px;
}
.imagearea{
  
    height: 300px;
  
   
  }

  .separacionx {
    background-color:white;
    height: 40px;
  }

  .letrastitulo{
    color: #003d71;
  }
  
  .CheckText{
    color: #0069D9;
    font-weight:  bold;
  }

  .TooltipText{
    text-decoration: underline;
  }
  