
.social_area{
    background-color: #F3F3F3;
    height: 180px;
    text-align: center;
    align-content: center;
}
.titulosocial{
    color:#003D71;
    text-decoration: underline;
}
.icono{
    color:#003D71;

}