.navbar-area {
    overflow: hidden;
    background-color: white;
    color: #001845;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    border-bottom: 1px dashed black;
}

.navbar--sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__item{
    display: block;
    text-align: center;
    margin: 8px;
    font-size:1em;
    font-weight: bold;
    text-decoration: none;
    color: #001845;
    
}

.navbar__icon{
    display: block;
    text-align: center;
    margin: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #001845;}

.navbar__item:visited{
    color: #001845;
}

.navbar__item:active{
    color: #001845;
}

.navbar__item:hover{
    color: #3FAFCB;
    text-decoration: none;
}

.navbar__image{
    height: 2.5rem;
    width: auto;
    align-self: flex-start;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar__imagecompresed{
    height: 2.5rem;
    width: auto;
    align-self: flex-start;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top:8px;
}

.navbar_compresed{
    color:#001845;
    border:1px solid #001845;
    margin: 0px;
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 992px){
    .navbar-area{
        overflow: hidden;
    }

    .navbar__item{
        text-align: left;
    }

    .navbar-area.navbar--responsive{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .navbar-area.navbar--responsive .navbar__item{
        display: block;
        text-align: center;
        margin: 8px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        font-family: Verdana;
        color: #001845;
    }
}

@media only screen and (min-width: 992px){

    .navbar-area{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex-direction: row;
    }

    .navbar__icon{
        display: none;
    }
}