navbar-area {
    overflow: auto;
    background-color: #001845;
    color: #FFFFFF;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
}

.navbar--sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__item{
    display: block;
    text-align: center;
    margin: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
}

.navbar__item:visited{
    color: #FFFFFF;
}

.navbar__item:active{
    color: #FFFFFF;
}

.navbar__item:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.nani{
    color:white;
    border:1px solid white;
    margin: 0px;
    width: 100%;
    text-align: left;
}