
.contactarea{   
    background-color:white;
    margin-bottom: 20px;
    }
.contactsupimage{
  margin-top: 30px;
  width: 100%;
}
.contacttitletext{
  color: #004D8F;
  font-size: 30px;
  font-weight: bold;
  margin-top:10px;
}

.contacttext{
  color: black;
  font-size: 15px;
  text-align: justify;
}

.contactbutton{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contacttextarea
{
  height: 80px;
}

.contactcamps
{
  height: 30px;
}

.contactmap
{
  width:100%;    
  height:500px;
}


@media only screen and (max-width: 750px){
  .contactmap
      {
        height:300px;
      }
}
  